mixin banners()
  +b.SECTION.banners
    +e.DIV.content
      +bannerItem('15% off', "background-image: url('img/banner/banner1.jpeg')")
      +bannerItem('New collection', "background-image: url('img/banner/banner2.jpeg')")
      +bannerItem('Popular clothes', "background-image: url('img/banner/banner3.jpeg')")
