mixin about-slider()
  +b.SECTION.about-slider
    +e.DIV.container
      +b.DIV.about-slider-title_and_nav
        +sectionTitle('Our team')
        +navs('about-slider_nav-left', 'about-slider_nav-right')
      +b.DIV.about-slider-carousel.owl-carousel

        //-Slide 1
        +b.DIV.about-slider-slide
          +e.DIV.image(style="background-image: url('img/about-slider/about-slide1.jpeg')")
          +e.DIV.info
            +e.H5.name User name
            +e.SPAN.position Manager
            +e.P.text Ut enim ad minim veniam, quis nostrud exer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            +e.DIV.social-icons
              +e.A(href="#") 
                +e.I.icon(class="fa fa-facebook")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-twitter")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-instagram")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-pinterest")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-google-plus")

        //-Slide 2
        +b.DIV.about-slider-slide
          +e.DIV.image(style="background-image: url('img/about-slider/about-slide2.jpeg')")
          +e.DIV.info
            +e.H5.name User name
            +e.SPAN.position Manager
            +e.P.text Ut enim ad minim veniam, quis nostrud exer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            +e.DIV.social-icons
              +e.A(href="#") 
                +e.I.icon(class="fa fa-facebook")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-twitter")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-instagram")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-pinterest")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-google-plus")

        //-Slide 3
        +b.DIV.about-slider-slide
          +e.DIV.image(style="background-image: url('img/about-slider/about-slide3.jpeg')")
          +e.DIV.info
            +e.H5.name User name
            +e.SPAN.position Manager
            +e.P.text Ut enim ad minim veniam, quis nostrud exer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            +e.DIV.social-icons
              +e.A(href="#") 
                +e.I.icon(class="fa fa-facebook")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-twitter")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-instagram")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-pinterest")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-google-plus")

        //-Slide 4
        +b.DIV.about-slider-slide
          +e.DIV.image(style="background-image: url('img/about-slider/about-slide4.jpeg')")
          +e.DIV.info
            +e.H5.name User name
            +e.SPAN.position Manager
            +e.P.text Ut enim ad minim veniam, quis nostrud exer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            +e.DIV.social-icons
              +e.A(href="#") 
                +e.I.icon(class="fa fa-facebook")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-twitter")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-instagram")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-pinterest")
              +e.A(href="#") 
                +e.I.icon(class="fa fa-google-plus")