mixin more-products()
  +b.SECTION.m-products
    +e.DIV.container
      +sectionTitle('More products')
      +e.DIV.lines
        +b.DIV.m-products-line
          +productItem3("background-image: url('img/products/shirt.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/shoes.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/accessories.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/lingerie.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
        +b.DIV.m-products-line
          +productItem3("background-image: url('img/products/shoes.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/shirt.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/lingerie.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/accessories.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
        +b.DIV.m-products-line
          +productItem3("background-image: url('img/products/lingerie.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/shirt.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/accessories.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/shoes.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
        +b.DIV.m-products-line
          +productItem3("background-image: url('img/products/shirt.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
          +productItem3("background-image: url('img/products/accessories.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/shoes.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', '')
          +productItem3("background-image: url('img/products/lingerie.jpeg')", 'Lorem ipsum', '$120.00', '$95.00', 'sale')
  
