mixin facts()
  +b.SECTION.facts
    +e.DIV.container
      +b.DIV.facts-info
        +e.H4 Interesting facts
        +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      +e.DIV.items

        //- Item 1
        +b.DIV.facts-item
          +e.SPAN 3000
          +e.H4 items in store
          +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

        //- Item 2
        +b.DIV.facts-item
          +e.SPAN 100%
          +e.H4 happy clients
          +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

        //- Item 3
        +b.DIV.facts-item
          +e.SPAN 1million
          +e.H4 users of the site
          +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.