mixin collections-list()
  +b.SECTION.collections-list
    +e.DIV.container
      +e.DIV.content
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/women.jpeg")
          +e.DIV.info
            +e.H3 Women
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/lingerie.jpeg")
          +e.DIV.info
            +e.H3 Lingerie
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/jeans.jpg")
          +e.DIV.info
            +e.H3 Jeans
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/men.jpeg")
          +e.DIV.info
            +e.H3 Men
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/jackets.jpeg")
          +e.DIV.info
            +e.H3 Jackets
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/shoes.jpeg")
          +e.DIV.info
            +e.H3 Shoes
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/shirts.jpg")
          +e.DIV.info
            +e.H3 Shirts
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/accessories.jpeg")
          +e.DIV.info
            +e.H3 Accessories
            +main-btn('Shop now!')
        +b.DIV.collections-list-item
          +e.IMG.image(src="img/collections/outerwear.jpeg")
          +e.DIV.info
            +e.H3 Outerwear
            +main-btn('Shop now!')

