include Right-block/right-block
include Main-menu/main-menu
include ../../shortcodes/shortcodes

mixin header-v2()
  +b.HEADER.header
    +right-block()
    +main-menu()
            
            
          
    
