mixin services()
  +b.SECTION.services
    +e.DIV.container

      //- Item
      +e.DIV.item
        +e.SPAN.l-tring
        +e.I.icon(class="fa fa-clock-o")
        +e.P.desc Support 24/7
        +e.SPAN.r-tring

      //- Item
      +e.DIV.item
        +e.SPAN.l-tring
        +e.I.icon(class="fa fa-truck")
        +e.P.desc Delivery free
        +e.SPAN.r-tring
        
      //- Item
      +e.DIV.item
        +e.SPAN.l-tring
        +e.I.icon(class="fa fa-repeat")
        +e.P.desc Exchangeor return
        +e.SPAN.r-tring