mixin collection-item()
  +b.SECTION.collection-item
    +e.DIV.container
      +e.DIV.content
        +b.DIV.collection-item-box-title 
          +e.H2 Women Clothing
          +e.H4 Best Selling Products Our all the World
          +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        +b.DIV.collection-item-box-item
          +productItem2("background-image: url('img/products/outerwear2.jpg')", 'shirts', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale', "background-image: url('img/products/outerwear2.jpg')", "background-image: url('img/products/outerwear2.jpg')")
          +productItem2("background-image: url('img/products/lingerie.jpeg')", 'shirts', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale', "background-image: url('img/products/lingerie.jpeg')", "background-image: url('img/products/lingerie.jpeg')")
          +productItem2("background-image: url('img/products/accessories.jpeg')", 'shirts', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale', "background-image: url('img/products/accessories.jpeg')", "background-image: url('img/products/accessories.jpeg')")
          +productItem2("background-image: url('img/products/dress.jpeg')", 'shirts', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale', "background-image: url('img/products/dress.jpeg')", "background-image: url('img/products/dress.jpeg')")
          +productItem2("background-image: url('img/products/jeans.jpeg')", 'shirts', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale', "background-image: url('img/products/jeans.jpeg')", "background-image: url('img/products/jeans.jpeg')")
          

  
