mixin more-products()
  +b.SECTION.more-products
    +e.DIV.container
      +sectionTitle('More products')
      +e.DIV.content
        +productItem("background-image: url('img/products/shirt.jpeg')", 'shirts', 'Lorem-ipsum', '', '$100.00', 'New')
        +productItem("background-image: url('img/products/shoes.jpeg')", 'shoes', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/lingerie.jpeg')", 'lingerie', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/accessories.jpeg')", 'accessories', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/bag.jpeg')", 'bags', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale')
        +productItem("background-image: url('img/products/outerwear.jpeg')", 'outerwear', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/outerwear2.jpg')", 'outerwear', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale')
        +productItem("background-image: url('img/products/jeans.jpeg')", 'jeans', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/dress.jpeg')", 'dresses', 'Lorem-ipsum', '',  '$100.00')
        +productItem("background-image: url('img/products/shirt.jpeg')", 'shirts', 'Lorem-ipsum', '', '$100.00', 'New')
        +productItem("background-image: url('img/products/shoes.jpeg')", 'shoes', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/lingerie.jpeg')", 'lingerie', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/accessories.jpeg')", 'accessories', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/bag.jpeg')", 'bags', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale')
        +productItem("background-image: url('img/products/outerwear.jpeg')", 'outerwear', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/outerwear2.jpg')", 'outerwear', 'Lorem-ipsum', '$150.00', '$100.00', 'Sale')
        +productItem("background-image: url('img/products/jeans.jpeg')", 'jeans', 'Lorem-ipsum', '', '$100.00')
        +productItem("background-image: url('img/products/dress.jpeg')", 'dresses', 'Lorem-ipsum', '',  '$100.00')
      +e.DIV.pagination-box
        +pagination()
        


