//-------------------- Home 1 ------------------------\\
include home-slider/home-slider
include new-items/new-items
include products/products
include banners/banners
include blog/blog
include services/services
include more-products/more-products
include home-collections/home-collections

mixin home-v1()
  +home-slider()
  +services()
  +deal()
  +home-collections()
  +newItems()
  +products()
  +subscribe()
  +blog()
  +banners()
  +more-products()
